/* Universal Styles */
html {
    font-size: 16px;
  }

@font-face {
    font-family: 'Bogart';
    src: url('fonts/bogart/Bogart-Regular-trial.ttf') format('truetype');
}

h1, h2, h4, h5, h6 {
    font-family: "Bogart";
    font-weight: 400;
    font-style: normal;
    color: #5b4f47;
}

h3, p {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    color: #5b4f47;
}

a {
    text-decoration: none;
}

/* Apply a consistent box model */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Wrapper styles */
.wrapper {
    width: 100%; /* Full width of the viewport */
    padding: 40px 0; /* Top and bottom spacing */
}

/* Specific section styling (optional) */
#banner-wrapper {
    background-color: #ececec;
}

#service-wrapper {
    background-color: #ffffff;
}

#contact-wrapper {
    background-color: #f0f0f0;
}


/* Container styles */
.container {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);

    width: 90%; /* Take up 90% of the parent width */
    max-width: 1400px; /* Prevent it from growing too wide */
    height: 100%;
    max-height: 800px;
    min-height: 800px;
    margin: 0 auto; /* Center horizontally */
    
}


/* Banner Item Layout */

#banner-container h1 {
    grid-area: 2 / 1 / 8 / 9 ;
    font-size: clamp(3rem, 10vw, 10rem); 
    text-align: center;
    line-height: 1;
   
}

#banner-container nav {
    grid-area: 8 / 2 / 12 / 8 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#banner-container .img-container {
    grid-area: 1 / 9 / 13 / 13;
    background-image: url("1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav h3 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

nav button {
    padding: 10px 20px;
    background-color: #ececec;
    border: 0;
    border-bottom: 2px solid #5b4f47;
    cursor: pointer;
}

nav button:hover {
    background-color: bisque;
}



/* Services Item Layout */

#services-container h3 {
    grid-area: 2 / 2 / 3 / 4 ;
    font-size: 2rem;
    text-align: left;
    text-transform: uppercase;
}

#services-container .img-container {
    grid-area: 4 / 2 / 12 / 6;
    background-image: url("2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#services-container h2 {
    grid-area: 2 / 7 / 3 / 12;
    font-size: 4rem;
    text-align: left;
}

#services-container p {
    grid-area: 3 / 7 / 5 / 12;
    font-size: clamp(0.5rem, 2vw, 1.5rem); 
    text-align: justify;
    line-height: 1.5;
}

#services-h4 {
    grid-area: 6 / 7 / 12 / 12;
    font-size: clamp(1rem, 2vw, 2rem); 
    text-align: left;
    line-height: 2;
}


/* Contact Item Layout */

#contact-container h3 {
    grid-area: 2 / 2 / 3 / 6 ;
    font-size: 2rem;
    text-align: left;
    text-transform: uppercase;
}

#contact-container h2 {
    grid-area: 3 / 2 / 5 / 6;
    font-size: 4rem;
    text-align: left;
    line-height: 2;

}

#contact-container .img-container {
    grid-area: 6 / 2 / 12 / 8 ;
    background-image: url("3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contact-container p {
    grid-area: 4 / 9 / 7 / 12 ;
    font-size: 1.5rem; 
    text-align: justify;
    line-height: 1.5;
}

#contact-container h5 {
    grid-area: 7 / 9 / 8 / 12 ;
    font-size: 1.8rem;
    text-align: left;
}

#contact-container h6 {
    grid-area: 8 / 9 / 9 / 12;
    font-size: 1.8rem;
    text-align: left;
}