.services1-container1 {
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.services1-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.services1-image-container {
  height: 100%;
  display: flex;
  position: relative;
}
 
.services1-image {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.services1-tabs-menu {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.services1-tab-horizontal1 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.services1-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.services1-container3 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.services1-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.services1-tab-horizontal2 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.services1-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.services1-container4 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.services1-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.services1-tab-horizontal3 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.services1-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.services1-container5 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.services1-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.services1-fragment1 {
  display: contents;
}
 
.services1-text2 {
  display: inline-block;
}
 
.services1-fragment2 {
  display: contents;
}
 
.services1-text3 {
  display: inline-block;
}
 
.services1-fragment3 {
  display: contents;
}
 
.services1-text4 {
  display: inline-block;
}
 
.services1-fragment4 {
  display: contents;
}
 
.services1-text5 {
  display: inline-block;
}
 
.services1-fragment5 {
  display: contents;
}
 
.services1-text6 {
  display: inline-block;
}
 
.services1-fragment6 {
  display: contents;
}
 
.services1-text7 {
  display: inline-block;
}
 
.services1-fragment7 {
  display: contents;
}
 
.services1-text8 {
  display: inline-block;
}
 
.services1root-class-name {
  background-color: var(--dl-color-theme-primary2);
}
 
@media(max-width: 1600px) {
  .services1-container2 {
    flex: 1;
    align-self: center;
  }
  .services1root-class-name {
    background-color: var(--dl-color-theme-primary2);
  }
}
 
@media(max-width: 1200px) {
  .services1root-class-name {
    flex: 1;
    background-color: var(--dl-color-theme-primary2);
  }
}
 
@media(max-width: 991px) {
  .services1-container1 {
    padding-bottom: 0px;
  }
  .services1-container2 {
    height: 610px;
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .services1-image {
    display: none;
  }
}
